<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="/stylesheets/works.css">
</head>
<body>
    <a href="/home">Home</a>
    <div>
        <h1>Working Background</h1>
        <div id="img-container">
            <p>5 years working in Ericsson Mexico as Integration Engineer</p>
            <img id="img-ericsson" src="images/ericsson.png"  alt="ericsson">
            <p>2 years working in Toyota Forklift in the Systems Area</p>
            <img id="img-toyota" src="images/toyota.png" alt="toyota">
            <p>2 years working in GNP Seguros as Support Engineer via Remote</p>
            <img id="img-gnp" src="images/gnp.png" alt="gnp">
        </div>
    </div>
</body>
</html>